* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.plane {
    clip-path: polygon(14% 0%, 83% 0%, 100% 100%, 0% 100%);
    background-color: #e4e4cd;
}

.plane-spacer {
    background-color: #a4a48d;
    height: 10px;
}

.t-col {
}

.t-row {
    height: 8vh;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}

.row-0 {
    margin: 0px -18px;
}

.row-1 {
    margin: -5px -13px 0px;
}

.row-2 {
    margin: -3px -6px 0px;
}

.row-3 {
    margin: 0px 0px;
}

.row-4 {
    margin: 0px 7px;
}

.segment {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.tic-button {
    width: 100%;
    height: 25px;
    border: 1px solid black;
}

.row-0 .tic-button {
    width: 22px;
    height: 22px;
    border: none;
}

.row-1 .tic-button {
    width: 25px;
    height: 25px;
    border: none;
}

.row-2 .tic-button {
    width: 28px;
    height: 28px;
    border: none;
}

.row-3 .tic-button {
    width: 31px;
    height: 31px;
    border: none;
}

.row-4 .tic-button {
    width: 32px;
    height: 34px;
    border: none;
}

.right-button {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.left-button {
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}

.r-tic {
    background-color: red;
}

.b-tic {
    background-color: blue;
}
