{% extends "base.html" %}
{% block content %}

<h2><b>Top 10</b></h2>


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th class="text-center" scope="col">Rank</th>
            <th class="text-center" scope="col">Username</th>
            <th class="text-center" scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(10) %}
        <tr>
            <td class="text-center">{{ loop.index }}</td>
            <td class="text-center">{{ contenders[i].username }}</td>
            <td class="text-center">{{ contenders[i].score }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<section>
    <div class="container">
        <div class="row mt-4">
            <form method="POST" action="{{ url_for('get_contenders') }}">
                <div>
                    <h4>Leave a comment</h4> <label for="message">Message</label> <textarea name="message" id="message"></textarea>
                </div>
                <div> <button type="submit" id="post" class="btn btn-light">Post Comment</button> </div>
            </form>
        </div>
        <div class="col-12 pb-4">
            <h1>Comments</h1>
            {% for comment in comments %}
            <h4>{{ comment.name }}</h4> <span>- {{ comment.date }}</span> <br>
            <p>{{ comment.message }}</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}