{% extends "base.html" %}
{% block content %}
<h1>
    {% if username %}
    Let's Play TicTacToe, {{ username }}
    {% endif %}
</h1>
<div class="container">
    {% for i in range(planes) %}
    <div class="col-12 plane">
        <h3>{{ i }}</h3>
        {% for j in range(rows) %}
        <div class="row t-row">
            <h5>{{ i }},{{ j }}</h5>
            {% for k in range(columns) %}
            <div class="col t-col">
                <h6>{{ i }},{{ j }},{{ k }}</h6>
                {% for h in range(segments) %}
                <div class="segment">
                    {% if [i,j,k,h] in coordinates %}
                    <form method="POST" action="{{ url_for('play') }}">
                        <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                        <input class="r-tic-button" type="submit" value="" disabled>
                    </form>
                    {% elif select_status == "blue" %}
                    <form method="POST" action="{{ url_for('play') }}">
                        <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                        <input class="b-tic-button" type="submit" value="" disabled>
                    </form>
                    {% else %}
                    <form method="POST" action="{{ url_for('play') }}">
                        <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                        <input class="tic-button" type="submit" value="">
                    </form>
                    {% endif %}
                    
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}