{% extends "base.html" %}
{% block content %}
<h1 class="text-center">
    {% if username %}
    Let's Play TicTacToe, {{ username|upper }}
    {% endif %}
</h1>
{% if result != "" %}
<div class="result row">
    <h1 class="mb-3">{{ result }}</h1>
    <form method="POST" id="set_board" class="col d-flex flex-column justify-content-around"
        action="{{ url_for('play') }}">
        <div class="row d-flex flex-row justify-content-center"><label for="opponent" class="select-label">Choose board width:   </label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light active board-options">
                    <input type="radio" name="width" id="width1" value="3" checked> 3
                </label>
                <label class="btn btn-light board-options">
                    <input type="radio" name="width" id="width2" value="4"> 4
                </label>
                <label class="btn btn-light board-options">
                    <input type="radio" name="width" id="width3" value="5"> 5
                </label>
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-center"><label for="opponent" class="select-label">Choose number of
                dimensions:   </label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light active board-options">
                    <input type="radio" name="dimensions" id="dimension1" value="3" checked> 3
                </label>
                <label class="btn btn-light board-options">
                    <input type="radio" name="dimensions" id="dimension2" value="4"> 4
                </label>
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-center"><label for="opponent" class="select-label">Choose an opponent:   </label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light active board-options">
                    <input type="radio" name="opponent" id="opponent1" value="computer" checked> Computer
                </label>
                <label class="btn btn-light board-options">
                    <input type="radio" name="opponent" id="opponent2" value="player2"> Local
                </label>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="offset-5 col-2 btn btn-outline-primary" value="Set Board">
        </div>
    </form>
</div>
{% else %}
{% if player_turn == "player1" %}
<h1 class="player-turn">{{ username|upper }}'s turn</h1>
{% elif player_turn == "player2" %}
<h1 class="player-turn">Guest's turn</h1>
{% endif %}
<a href="{{ url_for('reset_board') }}" class="btn btn-outline-info">Reset Board</a>
<a href="{{ url_for('set_new_board') }}" class="btn btn-outline-info">Set New Board</a>
<div class="container-fluid pt-1 pb-5 px-0 mx-0">
    {% for i in range(width) %}
    <div class="row">
        {% if i >= 1 %}
        <div class="col-1 d-md-none d-lg-block border-right"></div>
        {% else %}
        <div class="col-1 d-md-none d-lg-block"></div>
        {% endif %}
        <div class="col-12 col-lg-10 justify-content-around plane">
            {% for j in range(width) %}
            <div class="row across-{{j}} justify-content-around t-col">
                {% for k in range(width) %}
                <div class="col px-0 row-{{j}} t-row">
                    <div class="row px-0 mx-0 section section-{{j}} align-items-center">
                        {% if dimensions == 3 %}
                        {% if [i,j,k] in player1coordinates %}
                        <form method="POST" action="{{ url_for('play') }}">
                            <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }}">
                            <input class="r-tic tic-button border rounded-circle" type="submit" value="" disabled>
                        </form>
                        {% elif [i,j,k] in player2coordinates %}
                        <form method="POST" action="{{ url_for('play') }}">
                            <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }}">
                            <input class="b-tic tic-button border rounded-circle" type="submit" value="" disabled>
                        </form>
                        {% else %}
                        <form method="POST" action="{{ url_for('play') }}">
                            <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }}">
                            <input class="tic-button rounded border rounded-circle" type="submit" value="">
                        </form>
                        {% endif %}
                        {% else %}
                        {% for h in range(width) %}
                        <div class="row px-0 mx-0 segment">
                            {% if h == 0 %}
                            {% if [i,j,k,h] in player1coordinates %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="r-tic r-{{ h }} tic-button left-button border border-left-0" type="submit"
                                    value="" disabled>
                            </form>
                            {% elif [i,j,k,h] in player2coordinates %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="b-tic b-{{ h }} tic-button left-button border border-left-0" type="submit"
                                    value="" disabled>
                            </form>
                            {% else %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="tic-button left-button border border-left-0" type="submit" value="">
                            </form>
                            {% endif %}
                            {% elif h == width-1 %}
                            {% if [i,j,k,h] in player1coordinates %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="r-tic r-{{ h }} tic-button right-button border border-right-0"
                                    type="submit" value="" disabled>
                            </form>
                            {% elif [i,j,k,h] in player2coordinates %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="b-tic b-{{ h }} tic-button right-button border border-right-0"
                                    type="submit" value="" disabled>
                            </form>
                            {% else %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="tic-button right-button border border-right-0" type="submit" value="">
                            </form>
                            {% endif %}
                            {% else %}
                            {% if [i,j,k,h] in player1coordinates %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="r-tic r-{{ h }} tic-button rounded border" type="submit" value=""
                                    disabled>
                            </form>
                            {% elif [i,j,k,h] in player2coordinates %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="b-tic b-{{ h }} tic-button rounded border" type="submit" value=""
                                    disabled>
                            </form>
                            {% else %}
                            <form method="POST" class="col px-0" action="{{ url_for('play') }}">
                                <input type="hidden" name="coordinate" value="{{ i }},{{ j }},{{ k }},{{ h }}">
                                <input class="tic-button rounded border" type="submit" value="">
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% if i >= 1 %}
        <div class="col-1 d-md-none d-lg-block border-left"></div>
        {% else %}
        <div class="col-1 d-md-none d-lg-block"></div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 border-left offset-lg-1 border-right plane-spacer"></div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}