{% extends "base.html" %}
{% block content %}
<h3 class="text-center">Register</h3>
<div class="row">
    <form method="POST" class="form-group offset-2 col-8" action="{{ url_for('register') }}">
        <!-- Input fields -->
        <div class="mb-3">
            <label for="username" class="form-label"><i
                    class="fas fa-user-plus prefix teal-text text-lighten-1"></i>Username</label>
            <div class="row">
                <div class="left-button buttress col"></div>
                <input id="username" class="col form-control" name="username" type="text" minlength="1" maxlength="20"
                    pattern="^[a-zA-Z0-9]{1,20}$" placeholder="Letters and Numbers only" required>
                <div class="right-button buttress col"></div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i
                    class="fas fa-user-lock prefix teal-text text-lighten-1"></i>Password</label>
            <div class="row">
                <div class="left-button buttress col"></div>
                <input id="password" class="col form-control" name="password" type="password" minlength="5"
                    maxlength="20" pattern=".{5,}$" placeholder="5 or more characters" required>
                <div class="right-button buttress col"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
    </form>
</div>
<!-- Redirecting links -->
<div class="row">
    <div class="offset-4 col-4">
        <p class="center-align">
            Already Registered?
            <a href="{{ url_for('sign_in') }}" class="text-danger">Sign In</a>
        </p>
    </div>
</div>

{% endblock %}